body{
    background: var(--background-color);
    margin-bottom: 0;
    overflow-x: hidden;
    user-select: none;
    margin-left: 50px;
}
.canvas{
    width: 1200px;
}
nav{
    display: flex;
    justify-content: end;
}
.div--header {
    width: fit-content;
    margin: 0 auto;
    text-align: center;
}
#img-profile {
    filter: drop-shadow(20px 20px var(--buttons-color));
    display: flex;
    margin: 0 auto;
}
button{
    font-family: var(--subtitle-font-family);
    font-weight: var(--subtitle-font-weight);
    font-size: var(--subtitle-font-size);
    background: var(--background-color);
    color: var(--typography-color);
    border: 4px solid var(--buttons-color);
    border-radius: 30px;
    padding: 4px 12px;
    margin: 5px; 
    cursor: pointer;
}
button:hover {
    background: var(--clicked-color);
    color: var(--buttons-color);
}
#btn-contact, #btn-projets, #btn-apropos, #btn-top {
    filter: drop-shadow(5px 10px var(--buttons-color));
}
a {
    color: var(--buttons-color);
    font-family: var(--plain-text-font-family);
    font-size: var(--subtitle-font-size);
    font-weight: var(--subtitle-font-weight);
    text-decoration: none;
}
a:hover {
    color: var(--typography-color);
    text-decoration: underline;
}
h1{
    font-family: var(--title-font-family);
    font-weight: var(--title-font-weight);
    font-size: var(--title-font-size);
    color:var(--typography-color);
    text-align: center;
}
h3{
    font-family: var(--subtitle-font-family);
    font-weight: var(--subtitle-font-weight);
    font-size: var(--subtitle-font-size);
    color: var(--buttons-color)
}
h3.skills-title {
    display: flex;
    flex-direction: column;
}
progress {
    -webkit-appearance: none;
}
::-webkit-progress-bar {
    background: var(--background-color);
    width: 250px;
    border: 2px solid var(--buttons-color);
    border-radius: 5px;
}
progress::-webkit-progress-value {
    background-color: var(--clicked-color);
    border-radius: 3px;
}
.div--stacks {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.stack {
    width: 550px;
}
h3.titre-formation {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}
.div--formations {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.div--experiences {
    display: flex;
    flex-direction: column;
    text-align: center;
}
p{
    font-family: var(--plain-text-font-family);
    font-weight: var(--plain-text-font-weight);
    font-size: var(--plain-text-font-size);
    color:var(--buttons-color);
}
.div--work{
    display: flex;
    flex-direction: column;
}
#codage--creatif {
    display: flex;
    flex-direction: row;
    width: 65%;
    margin-right: 15px;
    margin-left: 50px;
}
.projet-theatre {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 60px;
}
.projet-laplace {
    display: flex;
    flex-direction: row;
    justify-content: center;  
}
#searching--page {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}
.bien-etre img{
    width: 1200px;
}
.img-projets, .video-projet{
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    width: 45%;
    margin-left: 15px;
}
.div--work, .div--apropos {
    text-align: center;
}
.div--contact {
    text-align: center;
}
.p-contact {
    font-size: var(--subtitle-font-size);
    font-weight: var(--subtitle-font-weight);
}
.back-top-btn {
    text-align: end;
}
#btn-top {
    padding: 20px;
    margin: 30px;
    position: sticky;
    cursor: pointer;
    border-radius: 100px;
}